blockquote {
	background-color: #d5f7f4;
	border: 0 !important;
	padding: 20px;
	color: #444;
}
blockquote.pull-right {
	padding: 20px;
	color: #444;
}
div.sthlm-footer-danger {
  background-color: #c40064; 
  color: #fff
}
div.sthlm-footer-danger-light {
  background-color: #fedeed; 
  color: #c40064;
}
div.sthlm-footer-primary {
  background-color: #5d237d; 
  color: #fff
}
div.sthlm-footer-primary-light {
  background-color: #f1e6fc; 
  color: #5d237d;
}
div.sthlm-footer-info {
  background-color: #006ebf; 
  color: #fff;
}
div.sthlm-footer-info-light {
  background-color: #d6edfc; 
  color: #006ebf;
}
div.sthlm-footer-success {
  background-color: #00867f; 
  color: #fff;
}
div.sthlm-footer-success-light {
  background-color: #d5f7f4; 
  color: #00867f;
}
div.sthlm-footer-warning {
  background-color: #dd4a2c;
  color: #fff;
}
div.sthlm-footer-warning-light {
  background-color: #ffd7d2; 
  color: #dd4a2c;
}
.row .sthlm-footer-primary,
.row .sthlm-footer-warning,
.row .sthlm-footer-info,
.row .sthlm-footer-danger,
.row .sthlm-footer-success,
.row .sthlm-footer-primary-light,
.row .sthlm-footer-warning-light,
.row .sthlm-footer-info-light,
.row .sthlm-footer-danger-light,
.row .sthlm-footer-success-light { 
  padding: 20px; 
  margin-top: 20px; 
}

div.panel-default.panel-sthlm { 
	border-color: #E5E2DB;
}
div.panel-default.panel-sthlm > .panel-heading  {
	border-bottom-width: 5px;
	background-color: transparent !important;
	color: #333;
	border-bottom-color: #333;
}

div.panel-primary.panel-sthlm { 
	border-color: #E5E2DB;
}
div.panel-primary.panel-sthlm > .panel-heading  {
	border-bottom-width: 5px;
	background-color: transparent !important;
	color: #5d237d;
	border-bottom-color: #5d237d;
}
div.panel-info.panel-sthlm { 
	border-color: #E5E2DB;
}
div.panel-info.panel-sthlm > .panel-heading  {
	border-bottom-width: 5px;
	background-color: transparent !important;
	color: #006ebf;
	border-bottom-color: #006ebf;
}
div.panel-warning.panel-sthlm { 
	border-color: #E5E2DB;
}
div.panel-warning.panel-sthlm > .panel-heading  {
	border-bottom-width: 5px;
	background-color: transparent !important;
	color: #dd4a2c;
	border-bottom-color: #dd4a2c;
}
div.panel-success.panel-sthlm { 
	border-color: #E5E2DB;
}
div.panel-success.panel-sthlm > .panel-heading  {
	border-bottom-width: 5px;
	background-color: transparent !important;
	color: #00867f;
	border-bottom-color: #00867f;
}
div.panel-danger.panel-sthlm { 
	border-color: #E5E2DB;
}
div.panel-danger.panel-sthlm > .panel-heading  {
	border-bottom-width: 5px;
	background-color: transparent !important;
	color: #c40064;
	border-bottom-color: #c40064;
}
.sthlm-gray-bg {
	background-color: #f6f3ee;
}
.sthlm-footer-primary a,
.sthlm-footer-info a,
.sthlm-footer-success a,
.sthlm-footer-warning a,
.sthlm-footer-danger a {
	color: #fff;
}
.sthlm-header {
	height: 98px;
	line-height: 98px;
}
#sthlm-logo div {
	border-left: 1px solid #333;
	position: absolute;
	top: 20px; bottom: 20px;
	margin-left: 38px;
	display: inline-block;
}
#sthlm-logo h1 {
	font-size: 22px;
	line-height: 26px;
	font-weight: bold;
	color: #444;
	margin: 0 0 0 8px;
}
#sthlm-logo:hover {
	text-decoration:none;
}
a#sthlm-logo {
	position: relative;
	display: block;
}
nav.navbar {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* Stockholm Primary navbar */
nav.sthlm-primary,
nav.sthlm-primary.navbar-default .navbar-toggle.collapsed:focus {
    background-color: #5d237d;
    color: #fff;
}
nav.sthlm-primary.navbar-default .navbar-brand:hover,
nav.sthlm-primary.navbar-default a:active,
nav.sthlm-primary.navbar-default a:focus,
nav.sthlm-primary.navbar-default .navbar-nav > :not(.active) > a:hover {
  background-color: #4d136d;
}
nav.sthlm-primary.navbar-default .navbar-brand,
nav.sthlm-primary.navbar-default ul.navbar-nav li a {
    color: #fff !important;
}
nav.sthlm-primary.navbar-default .navbar-header .navbar-toggle.collapsed:hover,
nav.sthlm-primary.navbar-default .navbar-header .navbar-toggle:not(.collapsed) {
  background-color: #6d338d;
}
nav.sthlm-primary.navbar-default .navbar-header .navbar-toggle.collapsed,
nav.sthlm-primary.navbar-default .navbar-toggle {
    border-color: #3d035d;
}
nav.sthlm-primary.navbar-default .navbar-nav > .active > a,
nav.sthlm-primary.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.sthlm-primary.navbar-default .navbar-header .navbar-toggle.collapsed span.icon-bar {
    background-color: #3d065d;
}

/* Stockholm Info navbar */
nav.sthlm-info,
nav.sthlm-info.navbar-default .navbar-toggle.collapsed:focus {
    background-color: #006ebf;
    color: #fff;
}
nav.sthlm-info.navbar-default .navbar-brand:hover,
nav.sthlm-info.navbar-default a:active,
nav.sthlm-info.navbar-default a:focus,
nav.sthlm-info.navbar-default .navbar-nav > :not(.active) > a:hover {
  background-color: #005eaf;
}
nav.sthlm-info.navbar-default .navbar-brand,
nav.sthlm-info.navbar-default ul.navbar-nav li a {
    color: #fff !important;
}
nav.sthlm-info.navbar-default .navbar-header .navbar-toggle.collapsed:hover,
nav.sthlm-info.navbar-default .navbar-header .navbar-toggle:not(.collapsed) {
  background-color: #107ecf;
}
nav.sthlm-info.navbar-default .navbar-header .navbar-toggle.collapsed,
nav.sthlm-info.navbar-default .navbar-toggle {
    border-color: #004e9f;
}
nav.sthlm-info.navbar-default .navbar-nav > .active > a,
nav.sthlm-info.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.sthlm-info.navbar-default .navbar-header .navbar-toggle.collapsed span.icon-bar {
    background-color: #004e9f;
}

/* Stockholm Success navbar */
nav.sthlm-success,
nav.sthlm-success.navbar-default .navbar-toggle.collapsed:focus {
    background-color: #00867f;
    color: #fff;
}
nav.sthlm-success.navbar-default .navbar-brand:hover,
nav.sthlm-success.navbar-default a:active,
nav.sthlm-success.navbar-default a:focus,
nav.sthlm-success.navbar-default .navbar-nav > :not(.active) > a:hover {
  background-color: #00766f;
}
nav.sthlm-success.navbar-default .navbar-brand,
nav.sthlm-success.navbar-default ul.navbar-nav li a {
    color: #fff !important;
}
nav.sthlm-success.navbar-default .navbar-header .navbar-toggle.collapsed:hover,
nav.sthlm-success.navbar-default .navbar-header .navbar-toggle:not(.collapsed) {
  background-color: #00968f;
}
nav.sthlm-success.navbar-default .navbar-header .navbar-toggle.collapsed,
nav.sthlm-success.navbar-default .navbar-toggle {
    border-color: #00665f;
}
nav.sthlm-success.navbar-default .navbar-nav > .active > a,
nav.sthlm-success.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.sthlm-success.navbar-default .navbar-header .navbar-toggle.collapsed span.icon-bar {
    background-color: #00665f;
}

/* Stockholm Warning navbar */
nav.sthlm-warning,
nav.sthlm-warning.navbar-default .navbar-toggle.collapsed:focus {
    background-color: #dd4a2c;
    color: #fff;
}
nav.sthlm-warning.navbar-default .navbar-brand:hover,
nav.sthlm-warning.navbar-default a:active,
nav.sthlm-warning.navbar-default a:focus,
nav.sthlm-warning.navbar-default .navbar-nav > :not(.active) > a:hover {
  background-color: #cd3a1c;
}
nav.sthlm-warning.navbar-default .navbar-brand,
nav.sthlm-warning.navbar-default ul.navbar-nav li a {
    color: #fff !important;
}
nav.sthlm-warning.navbar-default .navbar-header .navbar-toggle.collapsed:hover,
nav.sthlm-warning.navbar-default .navbar-header .navbar-toggle:not(.collapsed) {
  background-color: #ed5a3c;
}
nav.sthlm-warning.navbar-default .navbar-header .navbar-toggle.collapsed,
nav.sthlm-warning.navbar-default .navbar-toggle {
    border-color: #bd2a0c;
}
nav.sthlm-warning.navbar-default .navbar-nav > .active > a,
nav.sthlm-warning.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.sthlm-warning.navbar-default .navbar-header .navbar-toggle.collapsed span.icon-bar {
    background-color: #bd2a0c;
}

/* Stockholm Danger navbar */
nav.sthlm-danger,
nav.sthlm-danger.navbar-default .navbar-toggle.collapsed:focus {
    background-color: #c40064;
    color: #fff;
}
nav.sthlm-danger.navbar-default .navbar-brand:hover,
nav.sthlm-danger.navbar-default a:active,
nav.sthlm-danger.navbar-default a:focus,
nav.sthlm-danger.navbar-default .navbar-nav > :not(.active) > a:hover {
  background-color: #b40054;
}
nav.sthlm-danger.navbar-default .navbar-brand,
nav.sthlm-danger.navbar-default ul.navbar-nav li a {
    color: #fff !important;
}
nav.sthlm-danger.navbar-default .navbar-header .navbar-toggle.collapsed:hover,
nav.sthlm-danger.navbar-default .navbar-header .navbar-toggle:not(.collapsed) {
  background-color: #d41074;
}
nav.sthlm-danger.navbar-default .navbar-header .navbar-toggle.collapsed,
nav.sthlm-danger.navbar-default .navbar-toggle {
    border-color: #a40044;
}
nav.sthlm-danger.navbar-default .navbar-nav > .active > a,
nav.sthlm-danger.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus,
nav.sthlm-danger.navbar-default .navbar-header .navbar-toggle.collapsed span.icon-bar {
    background-color: #a40044;
}

nav.sthlm-warning, nav.sthlm-success, nav.sthlm-danger, nav.sthlm-primary, nav.sthlm-info {
	border: 0px;
	border-radius: 0px;
}
.sthlm-footer {
	border-top: 1px solid #E5E2DB;
}
div.sthlm-footer {
	text-align: center;
}
div.sthlm-footer ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
div.sthlm-footer ul li {
	padding: 14px 0px 14px 0px;
}
div.modal-sthlm-info div.modal-header { border-bottom: 5px solid #006ebf; }
div.modal-sthlm-info div.modal-header h4.modal-title { color: #006ebf; }
div.modal-sthlm-info-light div.modal-header { border-bottom: 5px solid #d6edfc; }
div.modal-sthlm-info-light div.modal-header h4.modal-title { color: #d6edfc; }

div.modal-sthlm-warning div.modal-header { border-bottom: 5px solid #dd4a2c; }
div.modal-sthlm-warning div.modal-header h4.modal-title { color: #dd4a2c; }
div.modal-sthlm-warning-light div.modal-header { border-bottom: 5px solid #ffd7d2; }
div.modal-sthlm-warning-light div.modal-header h4.modal-title { color: #ffd7d2; }

div.modal-sthlm-primary div.modal-header { border-bottom: 5px solid #5d237d; }
div.modal-sthlm-primary div.modal-header h4.modal-title { color: #5d237d; }
div.modal-sthlm-primary-light div.modal-header { border-bottom: 5px solid #f1e6fc; }
div.modal-sthlm-primary-light div.modal-header h4.modal-title { color: #f1e6fc; }

div.modal-sthlm-success div.modal-header { border-bottom: 5px solid #00867f; }
div.modal-sthlm-success div.modal-header h4.modal-title { color: #00867f; }
div.modal-sthlm-success-light div.modal-header { border-bottom: 5px solid #d5f7f4; }
div.modal-sthlm-success-light div.modal-header h4.modal-title { color: #d5f7f4; }

div.modal-sthlm-danger div.modal-header { border-bottom: 5px solid #c40064; }
div.modal-sthlm-danger div.modal-header h4.modal-title { color: #c40064; }
div.modal-sthlm-danger-light div.modal-header { border-bottom: 5px solid #fedeed; }
div.modal-sthlm-danger-light div.modal-header h4.modal-title { color: #fedeed; }

div.sthlm-header h1 small { font-size: 85%; color: #000000; }
div.sthlm-header h1 small:before { content: "\a"; white-space: pre; }
nav.sthlm-danger.navbar-default ul.navbar-nav li ul li a,
nav.sthlm-primary.navbar-default ul.navbar-nav li ul li a,
nav.sthlm-info.navbar-default ul.navbar-nav li ul li a,
nav.sthlm-success.navbar-default ul.navbar-nav li ul li a,
nav.sthlm-warning.navbar-default ul.navbar-nav li ul li a {
    color: #000 !important;
}
